# **NTDB TQP Parser**

### Importing required packages, defining file directories, and defining useful functions

In [1]:
# Importing required packages
import os
import glob
import re
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
from collections import Counter
from tableone import TableOne

# Setting the file directory for this folder and for the raw data (stored in another HD because it's huge)
cwd = os.getcwd()
print(cwd)
raw_wd = "I:/BCM_projects/Bike-Injuries/NTDB"

c:\Users\TooFastDan\OneDrive - Baylor College of Medicine\BCM\Projects\Bike-Injuries\Manuscript\GitHub

In [2]:
def csv_importer(filepath, rows):
    """
    Function to import a list of csv files as a named dictionary of dfs, viewing the shape and head of each df
    Inputs:
    filepath = full filepath to the CSV folder for each NTDB TQP year
    rows = number of rows to parse (either 10 or 'None' to parse all)\
    Outputs:
    print statements to display shape and head of dfs 
    named dictionary of all csv dfs in the csv folder
    """
    # Finding and printing a list of csv files
    csv_files = glob.glob(filepath + "/*.csv")
    print("csv file list:")
    [print(file) for file in csv_files][0]
    
    # Importing all csv files as a named dictionary of dfs, viewing the shape and head of each df
    df_dict = {}
    for csv in csv_files:
        df_name = re.findall("\\\\(.*?).csv", csv)[0]
        try:
            df = pd.read_csv(csv, nrows=rows)
            df.columns = [s.upper() for s in df.columns]
        except:
            df = pd.read_csv(csv, nrows=rows, encoding='latin-1')
            df.columns = [s.upper() for s in df.columns]
            print("\nAlternate encoding used for {}".format(df_name))
        df_dict[df_name] = df
        df_shape = str(df.shape)
        print("\n" + df_name + " - Dimensions: " + df_shape)
        display(df.head())
    return(df_dict)

In [3]:
def stat_printer(df):
    """
    Function to display some statistics of dataframes.  Input df MUST have an "INC_KEY" column.
    Input: a dataframe with an INC_KEY column
    Outputs: print/display statements with statistics about the dataframe
    """
    x = len(df["INC_KEY"].unique())
    print("Shape: {0}\nUnique INC KEYS: {1}".format(str(df.shape), str(x)))
    display(df.head())

## **Importing and Cleaning Files for 2017**

In [4]:
puf_2017 = csv_importer(filepath="I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV", rows=None)

csv file list:
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_AIS05TO98_CROSSWALK.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_AISDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_AISDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_ECODE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_FORMATS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_ICDDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_ICDDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_ICDPROCEDURE.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_ICDPROCEDURE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\PUF_TRAUMA.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2017/CSV\TQP_INCLUSION.csv

PUF_AIS05TO98_CROSSWALK - Dimensions: (1999, 5)

,AIS05_PREDOT,AIS05_SEVERITY,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION
0,500099,9,515099,9.0,"Abdomen, Blunt Injury, NFS"
1,500999,9,515999,9.0,"Abdomen, Blunt Injury, Died w/o Further Evalua..."
2,516000,1,516000,1.0,"Abdomen, Penetrating Injury, NFS"
3,516002,1,516002,1.0,"Abdomen, Penetrating Injury, Minor into the pe..."
4,516004,2,516004,2.0,"Abdomen, Penetrating Injury tissue loss > 100 ..."

PUF_AISDIAGNOSIS - Dimensions: (3434829, 6)

,INC_KEY,AISPREDOT,AISPREDOT_BIU,AISSEVERITY,AISSEVERITY_BIU,AISVERSION
0,170000016523,140640.0,NaN,4.0,NaN,AIS 05
1,170000016523,140651.0,NaN,3.0,NaN,AIS 05
2,170000016523,210602.0,NaN,1.0,NaN,AIS 05
3,170000016523,310402.0,NaN,1.0,NaN,AIS 05
4,170000016524,110402.0,NaN,1.0,NaN,AIS 05

Alternate encoding used for PUF_AISDIAGNOSIS_LOOKUP

PUF_AISDIAGNOSIS_LOOKUP - Dimensions: (1999, 5)

,AISPREDOT,AISSEVERITY,AISDESCRIPTION,AISVERSION,ISSREGION
0,10000,1,"Hypothermia NFS [primary injury, not treatment...",AIS 05,6
1,10002,1,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
2,10004,2,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
3,10006,3,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
4,10008,4,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6

PUF_ECODE_LOOKUP - Dimensions: (3053, 6)

,ECODE,ECODE_DESC,INTENT,MECHANISM,TRAUMATYPE,ICD_VERSION
0,T17.0XXA,"Foreign body in nasal sinus, initial encounter",1.0,23.0,4.0,ICD10
1,T17.1XXA,"Foreign body in nostril, initial encounter",1.0,23.0,4.0,ICD10
2,T17.200A,Unspecified foreign body in pharynx causing as...,1.0,22.0,4.0,ICD10
3,T17.208A,Unspecified foreign body in pharynx causing ot...,1.0,23.0,4.0,ICD10
4,T17.210A,Gastric contents in pharynx causing asphyxiati...,1.0,22.0,4.0,ICD10

PUF_FORMATS - Dimensions: (249, 4)

              FMTNAME VALUE LABEL  LENGTH
0  ABUSEINVESTIGATION     1   Yes       3
1  ABUSEINVESTIGATION     2    No       3
2         ABUSEREPORT     1   Yes       3
3         ABUSEREPORT     2    No       3
4       ALCOHOLSCREEN     1   Yes       3

PUF_ICDDIAGNOSIS - Dimensions: (3977989, 4)

        INC_KEY ICDDIAGNOSISCODE  ICDDIAGNOSISCODE_BIU ICDDIAGNOSISVERSION
0  170022785485         S02.2XXA                   NaN               ICD10
1  170022785485         S02.609A                   NaN               ICD10
2  170022785485         S27.322A                   NaN               ICD10
3  170022785485         S02.402A                   NaN               ICD10
4  170022785485         S02.42XA                   NaN               ICD10

Alternate encoding used for PUF_ICDDIAGNOSIS_LOOKUP

PUF_ICDDIAGNOSIS_LOOKUP - Dimensions: (94811, 3)

,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_DESC,ICD_VERSION
0,S79.102S,Unspecified physeal fracture of lower end of l...,ICD10
1,S82.201P,"Unspecified fracture of shaft of right tibia, ...",ICD10
2,S82.832R,Other fracture of upper and lower end of left ...,ICD10
3,P05.12,"Newborn small for gestational age, 500-749 grams",ICD10
4,T20.43XD,"Corrosion of unspecified degree of chin, subse...",ICD10

PUF_ICDPROCEDURE - Dimensions: (6095201, 6)

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDURECODE_BIU,ICDPROCEDUREVERSION,PROCEDUREMINS,PROCEDUREDAYS
0,170022785514,BR20ZZZ,NaN,ICD10,59.0,1.0
1,170022785514,BN25ZZZ,NaN,ICD10,59.0,1.0
2,170022785514,2W3DX1Z,NaN,ICD10,NaN,NaN
3,170022785531,B020ZZZ,NaN,ICD10,64.0,1.0
4,170022785531,0T9B70Z,NaN,ICD10,37.0,1.0

PUF_ICDPROCEDURE_LOOKUP - Dimensions: (80635, 3)

,ICDPROCEDURECODE,ICDPROCEDURECODE_DESC,ICD_VERSION
0,BR0D1ZZ,Plain Radiography of Sacroiliac Joints using L...,ICD10
1,CG21SZZ,Tomographic (Tomo) Nuclear Medicine Imaging of...,ICD10
2,0D160K4,Bypass Stomach to Cutaneous with Nonautologous...,ICD10
3,D711B7Z,Low Dose Rate (LDR) Brachytherapy of Thymus us...,ICD10
4,0D1B0KM,Bypass Ileum to Descending Colon with Nonautol...,ICD10

PUF_TRAUMA - Dimensions: (997970, 330)

,INC_KEY,SEX,SEX_BIU,AGEYEARS,ASIAN,PACIFICISLANDER,RACEOTHER,AMERICANINDIAN,BLACK,WHITE,...,WITHDRAWALLSTDAYS,ISS_05,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,YODISCH
0,170000016523,2.0,NaN,NaN,0,0,0,0,0,1,...,NaN,17.0,university,2.0,4,1.0,1.0,1.0,1.0,2017.0
1,170000016524,1.0,NaN,9.0,0,0,0,0,0,1,...,NaN,17.0,university,2.0,4,1.0,1.0,1.0,1.0,2017.0
2,170000016525,2.0,NaN,66.0,0,0,0,0,1,0,...,NaN,4.0,university,2.0,4,1.0,1.0,1.0,1.0,2017.0
3,170000016526,2.0,NaN,59.0,0,0,0,0,0,1,...,NaN,5.0,university,2.0,4,1.0,1.0,1.0,1.0,2017.0
4,170000016527,2.0,NaN,78.0,0,0,0,0,0,0,...,NaN,4.0,university,2.0,4,1.0,1.0,1.0,1.0,2017.0

TQP_INCLUSION - Dimensions: (997970, 5)

        INC_KEY  TQIPSITE  ADULTTQIP  PEDSTQIP  L3TQIP
0  170000016523         1          1         0       0
1  170000016524         1          0         1       0
2  170000016525         1          0         0       0
3  170000016526         1          0         0       0
4  170000016527         1          0         0       0

### Trauma

In [6]:
# Selecting pedal cyclist injuries from ICD-10 codes
icd10_biker_ecodes = ["V10.0XXA", "V10.2XXA", "V10.4XXA", "V11.0XXA", "V11.1XXA", "V11.2XXA", "V11.4XXA", "V12.0XXA", "V12.4XXA", "V12.5XXA", 
                      "V12.9XXA", "V13.0XXA", "V13.1XXA", "V13.2XXA", "V13.3XXA", "V13.4XXA", "V13.5XXA", "V13.9XXA", "V14.0XXA", "V14.4XXA", 
                      "V14.5XXA", "V14.9XXA", "V15.4XXA", "V16.0XXA", "V16.4XXA", "V17.0XXA", "V17.1XXA", "V17.2XXA", "V17.3XXA", "V17.4XXA", 
                      "V17.9XXA", "V18.0XXA", "V18.1XXA", "V18.2XXA", "V18.3XXA", "V18.4XXA", "V18.5XXA", "V18.9XXA", "V19.00XA", "V19.09XA", 
                      "V19.3XXA", "V19.40XA", "V19.49XA", "V19.59XA", "V19.60XA", "V19.88XA", "V19.9XXA"]
icd10_ecode_bikes = puf_2017["PUF_ECODE_LOOKUP"]
icd10_ecode_bikes = icd10_ecode_bikes[icd10_ecode_bikes["ECODE"].isin(icd10_biker_ecodes)]
ecode_dict = dict(list(zip(icd10_ecode_bikes["ECODE"], icd10_ecode_bikes["ECODE_DESC"])))
#icd10_ecode_bikes

# Filtering the major trauma df for bike injuries and annotating with ecode descriptions
trauma = puf_2017["PUF_TRAUMA"]
trauma_bikes = trauma[trauma["PRIMARYECODEICD10"].isin(icd10_biker_ecodes)]
trauma_bikes["ECODE_DESC"] = trauma_bikes["PRIMARYECODEICD10"].map(ecode_dict)
trauma_bikes["Year"] = 2017
inc_keys = pd.Series(trauma_bikes["INC_KEY"]) #getting a list of INC_KEYS to filter other dfs
year = 2017
n_total = len(trauma["INC_KEY"].unique())
n_bikers = len(trauma_bikes["INC_KEY"].unique())
frac_bikers = np.round((n_bikers / n_total) * 100, 3)
print("In the year {0} there were {1}/{2} pedalcylist trauma injuries / total trauama injuries ({3}%)".format(year, n_bikers, n_total, frac_bikers))
stat_printer(trauma_bikes)

# Optional export to CSV
#trauma_bikes.to_csv(cwd+"/TQP_Files/main/2017_trauma.csv", index=False)

In the year 2017 there were 24577/997970 pedalcylist trauma injuries / total trauama injuries (2.463%)
Shape: (24577, 332)
Unique INC KEYS: 24577

,INC_KEY,SEX,SEX_BIU,AGEYEARS,ASIAN,PACIFICISLANDER,RACEOTHER,AMERICANINDIAN,BLACK,WHITE,...,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,YODISCH,ECODE_DESC,Year
3,170000016526,2.0,NaN,59.0,0,0,0,0,0,1,...,university,2.0,4,1.0,1.0,1.0,1.0,2017.0,Unspecified pedal cyclist injured in collision...,2017
60,170000016584,1.0,NaN,18.0,0,0,0,0,1,0,...,university,2.0,4,1.0,1.0,1.0,1.0,2017.0,Pedal cycle passenger injured in collision wit...,2017
108,170000016632,2.0,NaN,66.0,0,0,0,0,0,1,...,university,2.0,4,1.0,1.0,1.0,1.0,2017.0,Pedal cycle driver injured in noncollision tra...,2017
144,170000016668,1.0,NaN,32.0,0,0,1,0,0,0,...,university,2.0,4,1.0,1.0,1.0,1.0,2017.0,Pedal cycle driver injured in noncollision tra...,2017
204,170000016729,2.0,NaN,18.0,0,1,0,0,0,0,...,university,2.0,4,1.0,1.0,1.0,1.0,2017.0,Pedal cyclist (driver) (passenger) injured in ...,2017

### Injury Severity Score (AIS)

In [8]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
ais = puf_2017["PUF_AISDIAGNOSIS"]
ais_bikes = ais[ais["INC_KEY"].isin(inc_keys)]

# Merging with AISPREDOT descriptions
ais_lookup = puf_2017["PUF_AISDIAGNOSIS_LOOKUP"]
ais_lookup["AISPREDOT"] = ais_lookup["AISPREDOT"].astype(float)
ais_lookup = ais_lookup.drop(["AISSEVERITY", "AISVERSION"], axis=1)
ais_bikes = pd.merge(ais_bikes, ais_lookup, how="left", on="AISPREDOT")

# Merging with AIS05TO98_CROSSWALK
ais_cross = puf_2017["PUF_AIS05TO98_CROSSWALK"]
ais_cross.columns = ['AISPREDOT', 'AIS05_SEVERITY', 'AIS98_PREDOT', 'AIS98_SEVERITY', 'AIS98_DESCRIPTION']
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].astype(float)
ais_cross = ais_cross.drop("AIS05_SEVERITY", axis=1)
ais_bikes = pd.merge(ais_bikes, ais_cross, how="left", on="AISPREDOT")
ais_bikes["Year"] = 2017
stat_printer(ais_bikes)

# Optional export to CSV
#ais_bikes.to_csv(cwd+"/TQP_Files/ais/2017_AIS.csv", index=False)

Shape: (107756, 12)
Unique INC KEYS: 24577

,INC_KEY,AISPREDOT,AISPREDOT_BIU,AISSEVERITY,AISSEVERITY_BIU,AISVERSION,AISDESCRIPTION,ISSREGION,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION,Year
0,170000016526,210202.0,NaN,1.0,NaN,AIS 05,"Skin/subcutaneous/muscle, face, abrasion",6.0,210202,1.0,"Face, Skin, Abrasion",2017
1,170000016526,710202.0,NaN,1.0,NaN,AIS 05,"Skin/subcutaneous/muscle, upper extremity, abr...",6.0,710202,1.0,"Upper Extremity, Skin, Abrasion",2017
2,170000016526,752161.0,NaN,2.0,NaN,AIS 05,"Radius fracture, proximal, partial articular; ...",5.0,752800,2.0,"Radius Fracture, NFS",2017
3,170000016526,810202.0,NaN,1.0,NaN,AIS 05,"Skin/subcutaneous/muscle, lower extremity, abr...",6.0,810202,1.0,"Lower Extremity, Skin, Abrasion",2017
4,170000016526,856151.0,NaN,2.0,NaN,AIS 05,"Pelvic ring fracture, posterior arch intact; i...",5.0,852600,2.0,"Pelvis, Fracture, w/ or w/o Dislocation, NFS",2017

### Diagnosis

In [10]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
diag = puf_2017["PUF_ICDDIAGNOSIS"]
diag_bikes = diag[diag["INC_KEY"].isin(inc_keys)]

# Merging with ICDDIAGNOSISCODE descriptions
diag_loopup = puf_2017["PUF_ICDDIAGNOSIS_LOOKUP"]
diag_loopup = diag_loopup.drop("ICD_VERSION", axis=1)
diag_bikes = pd.merge(diag_bikes, diag_loopup, how="left", on="ICDDIAGNOSISCODE")
diag_bikes["Year"] = 2017
stat_printer(diag_bikes)

# Optional export to CSV
#diag_bikes.to_csv(cwd+"/TQP_Files/diagnosis/2017_diagnosis.csv", index=False)

Shape: (125242, 6)
Unique INC KEYS: 24577

,INC_KEY,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_BIU,ICDDIAGNOSISVERSION,ICDDIAGNOSISCODE_DESC,Year
0,170000026122,S52.572A,NaN,ICD10,Other intraarticular fracture of lower end of ...,2017
1,170000026122,S01.01XA,NaN,ICD10,"Laceration without foreign body of scalp, init...",2017
2,170000026122,S01.311A,NaN,ICD10,"Laceration without foreign body of right ear, ...",2017
3,170000026122,S40.211A,NaN,ICD10,"Abrasion of right shoulder, initial encounter",2017
4,170000026122,S60.511A,NaN,ICD10,"Abrasion of right hand, initial encounter",2017

### Procedures

In [12]:
# Filtering PUF_ICDPROCEDURE for biker INC_KEYS
proced = puf_2017["PUF_ICDPROCEDURE"]
proced_bikes = proced[proced["INC_KEY"].isin(inc_keys)]

# Merging with ICDPROCEDURECODE descriptions
proced_loopup = puf_2017["PUF_ICDPROCEDURE_LOOKUP"]
proced_loopup = proced_loopup.drop("ICD_VERSION", axis=1)
proced_bikes = pd.merge(proced_bikes, proced_loopup, how="left", on="ICDPROCEDURECODE")
proced_bikes["Year"] = 2017
stat_printer(proced_bikes)

# Optional export to CSV
#proced_bikes.to_csv(cwd+"/TQP_Files/procedures/2017_procedures.csv", index=False)

Shape: (148275, 8)
Unique INC KEYS: 24577

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDURECODE_BIU,ICDPROCEDUREVERSION,PROCEDUREMINS,PROCEDUREDAYS,ICDPROCEDURECODE_DESC,Year
0,170006681789,0HQ9XZZ,NaN,ICD10,513.0,1.0,"Repair Perineum Skin, External Approach",2017
1,170007465907,BP09ZZZ,NaN,ICD10,683.0,1.0,Plain Radiography of Left Shoulder,2017
2,170007465907,BP0AZZZ,NaN,ICD10,683.0,1.0,Plain Radiography of Right Humerus,2017
3,170007465907,BP0BZZZ,NaN,ICD10,683.0,1.0,Plain Radiography of Left Humerus,2017
4,170007465907,BP0GZZZ,NaN,ICD10,683.0,1.0,Plain Radiography of Right Elbow,2017

## **Importing and Cleaning Files for 2018**

In [13]:
puf_2018 = csv_importer(filepath="I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV", rows=None)

csv file list:
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_AIS05TO98_CROSSWALK.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_AISDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_AISDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_ECODE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_FORMATS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_ICDDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_ICDDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_ICDPROCEDURE.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_ICDPROCEDURE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\PUF_TRAUMA.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2018/CSV\TQP_INCLUSION.csv

PUF_AIS05TO98_CROSSWALK - Dimensions: (1999, 5)

,AIS05_PREDOT,AIS05_SEVERITY,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION
0,500099,9,515099,9.0,"Abdomen, Blunt Injury, NFS"
1,500999,9,515999,9.0,"Abdomen, Blunt Injury, Died w/o Further Evalua..."
2,516000,1,516000,1.0,"Abdomen, Penetrating Injury, NFS"
3,516002,1,516002,1.0,"Abdomen, Penetrating Injury, Minor into the pe..."
4,516004,2,516004,2.0,"Abdomen, Penetrating Injury tissue loss > 100 ..."

PUF_AISDIAGNOSIS - Dimensions: (3555669, 6)

,INC_KEY,AISPREDOT,AISPREDOT_BIU,AISSEVERITY,AISSEVERITY_BIU,AISVERSION
0,180008916795,110402.0,NaN,1.0,NaN,AIS 05
1,180008916795,110602.0,NaN,1.0,NaN,AIS 05
2,180008916795,140651.0,NaN,3.0,NaN,AIS 05
3,180008916795,140694.0,NaN,2.0,NaN,AIS 05
4,180008916795,150402.0,NaN,2.0,NaN,AIS 05

Alternate encoding used for PUF_AISDIAGNOSIS_LOOKUP

PUF_AISDIAGNOSIS_LOOKUP - Dimensions: (1999, 5)

,AISPREDOT,AISSEVERITY,AISDESCRIPTION,AISVERSION,ISSREGION
0,10000,1,"Hypothermia NFS [primary injury, not treatment...",AIS 05,6
1,10002,1,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
2,10004,2,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
3,10006,3,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6
4,10008,4,"Hypothermia [primary injury, not treatment-rel...",AIS 05,6

PUF_ECODE_LOOKUP - Dimensions: (3053, 6)

,ECODE,ECODE_DESC,INTENT,MECHANISM,TRAUMATYPE,ICD_VERSION
0,T17.0XXA,"Foreign body in nasal sinus, initial encounter",1.0,23.0,4.0,ICD10
1,T17.1XXA,"Foreign body in nostril, initial encounter",1.0,23.0,4.0,ICD10
2,T17.200A,Unspecified foreign body in pharynx causing as...,1.0,22.0,4.0,ICD10
3,T17.208A,Unspecified foreign body in pharynx causing ot...,1.0,23.0,4.0,ICD10
4,T17.210A,Gastric contents in pharynx causing asphyxiati...,1.0,22.0,4.0,ICD10

PUF_FORMATS - Dimensions: (249, 4)

              FMTNAME VALUE LABEL  LENGTH
0  ABUSEINVESTIGATION     1   Yes       3
1  ABUSEINVESTIGATION     2    No       3
2         ABUSEREPORT     1   Yes       3
3         ABUSEREPORT     2    No       3
4       ALCOHOLSCREEN     1   Yes       3

PUF_ICDDIAGNOSIS - Dimensions: (4139352, 4)

        INC_KEY ICDDIAGNOSISCODE  ICDDIAGNOSISCODE_BIU ICDDIAGNOSISVERSION
0  180027149864         S60.221A                   NaN               ICD10
1  180015779900         S42.102A                   NaN               ICD10
2  180027149876         S32.10XA                   NaN               ICD10
3  180026262809            T31.0                   NaN               ICD10
4  180026262809         T21.22XA                   NaN               ICD10

Alternate encoding used for PUF_ICDDIAGNOSIS_LOOKUP

PUF_ICDDIAGNOSIS_LOOKUP - Dimensions: (94811, 3)

,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_DESC,ICD_VERSION
0,S79.102S,Unspecified physeal fracture of lower end of l...,ICD10
1,S82.201P,"Unspecified fracture of shaft of right tibia, ...",ICD10
2,S82.832R,Other fracture of upper and lower end of left ...,ICD10
3,P05.12,"Newborn small for gestational age, 500-749 grams",ICD10
4,R20.9,Unspecified disturbances of skin sensation,ICD10

PUF_ICDPROCEDURE - Dimensions: (6591933, 6)

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDURECODE_BIU,ICDPROCEDUREVERSION,PROCEDUREMINS,PROCEDUREDAYS
0,180014722331,30233K1,NaN,ICD10,132.0,1.0
1,180021960245,BR20ZZZ,NaN,ICD10,43.0,1.0
2,180021960245,BW20ZZZ,NaN,ICD10,43.0,1.0
3,180021960245,BR2CZZZ,NaN,ICD10,43.0,1.0
4,180021960245,BW24ZZZ,NaN,ICD10,43.0,1.0

PUF_ICDPROCEDURE_LOOKUP - Dimensions: (80635, 3)

,ICDPROCEDURECODE,ICDPROCEDURECODE_DESC,ICD_VERSION
0,CG21SZZ,Tomographic (Tomo) Nuclear Medicine Imaging of...,ICD10
1,0D1B0KM,Bypass Ileum to Descending Colon with Nonautol...,ICD10
2,0DBC0ZX,"Excision of Ileocecal Valve, Open Approach, Di...",ICD10
3,0F9530Z,Drainage of Right Hepatic Duct with Drainage D...,ICD10
4,05QT3ZZ,"Repair Right Face Vein, Percutaneous Approach",ICD10

PUF_TRAUMA - Dimensions: (1043736, 330)

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,WITHDRAWALLSTDAYS,ISS_05,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,YODISCH
0,180008916795,1.0,NaN,70.0,0,0,0,0,0,1,...,NaN,10.0,community,2.0,4,1.0,2.0,1.0,NaN,2018.0
1,180008916796,2.0,NaN,81.0,0,0,0,0,0,1,...,NaN,25.0,community,2.0,4,1.0,2.0,1.0,NaN,2018.0
2,180008916797,2.0,NaN,88.0,0,0,0,0,0,1,...,NaN,9.0,community,2.0,4,1.0,2.0,1.0,NaN,2018.0
3,180008916798,2.0,NaN,12.0,0,0,0,0,0,1,...,NaN,17.0,community,2.0,4,1.0,2.0,1.0,NaN,2018.0
4,180008916799,2.0,NaN,2.0,0,0,1,0,0,0,...,NaN,4.0,community,2.0,4,1.0,2.0,1.0,NaN,2018.0

TQP_INCLUSION - Dimensions: (1043736, 5)

        INC_KEY  TQIPSITE  ADULTTQIP  PEDSTQIP  L3TQIP
0  180008916795         1          1         0       0
1  180008916796         1          1         0       0
2  180008916797         1          1         0       0
3  180008916798         1          0         1       0
4  180008916799         1          0         1       0

### Trauma

In [15]:
# Selecting pedal cyclist injuries from ICD-10 codes
icd10_biker_ecodes = ["V10.0XXA", "V10.2XXA", "V10.4XXA", "V11.0XXA", "V11.1XXA", "V11.2XXA", "V11.4XXA", "V12.0XXA", "V12.4XXA", "V12.5XXA", 
                      "V12.9XXA", "V13.0XXA", "V13.1XXA", "V13.2XXA", "V13.3XXA", "V13.4XXA", "V13.5XXA", "V13.9XXA", "V14.0XXA", "V14.4XXA", 
                      "V14.5XXA", "V14.9XXA", "V15.4XXA", "V16.0XXA", "V16.4XXA", "V17.0XXA", "V17.1XXA", "V17.2XXA", "V17.3XXA", "V17.4XXA", 
                      "V17.9XXA", "V18.0XXA", "V18.1XXA", "V18.2XXA", "V18.3XXA", "V18.4XXA", "V18.5XXA", "V18.9XXA", "V19.00XA", "V19.09XA", 
                      "V19.3XXA", "V19.40XA", "V19.49XA", "V19.59XA", "V19.60XA", "V19.88XA", "V19.9XXA"]
icd10_ecode_bikes = puf_2018["PUF_ECODE_LOOKUP"]
icd10_ecode_bikes = icd10_ecode_bikes[icd10_ecode_bikes["ECODE"].isin(icd10_biker_ecodes)]
ecode_dict = dict(list(zip(icd10_ecode_bikes["ECODE"], icd10_ecode_bikes["ECODE_DESC"])))

# Filtering the major trauma df for bike injuries and annotating with ecode descriptions
trauma = puf_2018["PUF_TRAUMA"]
trauma_bikes = trauma[trauma["PRIMARYECODEICD10"].isin(icd10_biker_ecodes)]
trauma_bikes["ECODE_DESC"] = trauma_bikes["PRIMARYECODEICD10"].map(ecode_dict)
trauma_bikes["Year"] = 2018
inc_keys = pd.Series(trauma_bikes["INC_KEY"]) #getting a list of INC_KEYS to filter other dfs
year = 2018
n_total = len(trauma["INC_KEY"].unique())
n_bikers = len(trauma_bikes["INC_KEY"].unique())
frac_bikers = np.round((n_bikers / n_total) * 100, 3)
print("In the year {0} there were {1}/{2} pedalcylist trauma injuries / total trauama injuries ({3}%)".format(year, n_bikers, n_total, frac_bikers))
stat_printer(trauma_bikes)

# Optional export to CSV
#trauma_bikes.to_csv(cwd+"/TQP_Files/main/2018_trauma.csv", index=False)

In the year 2018 there were 24615/1043736 pedalcylist trauma injuries / total trauama injuries (2.358%)
Shape: (24615, 332)
Unique INC KEYS: 24615

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,YODISCH,ECODE_DESC,Year
13,180008916808,2.0,NaN,24.0,0,0,1,0,0,0,...,community,2.0,4,1.0,2.0,1.0,NaN,2018.0,Pedal cycle driver injured in collision with c...,2018
27,180008916823,1.0,NaN,11.0,0,0,0,0,1,0,...,community,2.0,4,1.0,2.0,1.0,NaN,2018.0,Pedal cycle driver injured in noncollision tra...,2018
42,180008916839,1.0,NaN,39.0,0,0,0,0,0,1,...,community,2.0,4,1.0,2.0,1.0,NaN,2018.0,Pedal cycle driver injured in noncollision tra...,2018
95,180008916893,1.0,NaN,87.0,0,0,0,0,0,1,...,community,2.0,4,1.0,2.0,1.0,NaN,2018.0,Person boarding or alighting a pedal cycle inj...,2018
99,180008916897,2.0,NaN,11.0,0,0,0,0,0,1,...,community,2.0,4,1.0,2.0,1.0,NaN,2018.0,Pedal cycle driver injured in noncollision tra...,2018

### Injury Severity Score (AIS)

In [17]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
ais = puf_2018["PUF_AISDIAGNOSIS"]
ais_bikes = ais[ais["INC_KEY"].isin(inc_keys)]

# Merging with AISPREDOT descriptions
ais_lookup = puf_2018["PUF_AISDIAGNOSIS_LOOKUP"]
ais_lookup["AISPREDOT"] = ais_lookup["AISPREDOT"].astype(float)
ais_lookup = ais_lookup.drop(["AISSEVERITY", "AISVERSION"], axis=1)
ais_bikes = pd.merge(ais_bikes, ais_lookup, how="left", on="AISPREDOT")

# Merging with AIS05TO98_CROSSWALK
ais_cross = puf_2018["PUF_AIS05TO98_CROSSWALK"]
ais_cross.columns = ['AISPREDOT', 'AIS05_SEVERITY', 'AIS98_PREDOT', 'AIS98_SEVERITY', 'AIS98_DESCRIPTION']
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].astype(float)
ais_cross = ais_cross.drop("AIS05_SEVERITY", axis=1)
ais_bikes = pd.merge(ais_bikes, ais_cross, how="left", on="AISPREDOT")
ais_bikes["Year"] = 2018
stat_printer(ais_bikes)

# Optional export to CSV
#ais_bikes.to_csv(cwd+"/TQP_Files/ais/2018_AIS.csv", index=False)

Shape: (108544, 12)
Unique INC KEYS: 24615

,INC_KEY,AISPREDOT,AISPREDOT_BIU,AISSEVERITY,AISSEVERITY_BIU,AISVERSION,AISDESCRIPTION,ISSREGION,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION,Year
0,180008916808,110009.0,NaN,1.0,NaN,AIS 05,Head injury NFS involving only headache,1.0,160402,1.0,"Awake (GCS 15), Never Unconscious, w/o Deficit",2018
1,180008916808,110402.0,NaN,1.0,NaN,AIS 05,"Scalp, contusion; subgaleal hematoma if >6 mon...",6.0,110402,1.0,"Scalp, Contusion (includes subgaleal hematoma)",2018
2,180008916808,710202.0,NaN,1.0,NaN,AIS 05,"Skin/subcutaneous/muscle, upper extremity, abr...",6.0,710202,1.0,"Upper Extremity, Skin, Abrasion",2018
3,180008916808,810202.0,NaN,1.0,NaN,AIS 05,"Skin/subcutaneous/muscle, lower extremity, abr...",6.0,810202,1.0,"Lower Extremity, Skin, Abrasion",2018
4,180008916823,752314.0,NaN,2.0,NaN,AIS 05,"Ulna fracture, distal, open",5.0,753204,3.0,"Ulna Fracture, Open/Displaced/Comminuted",2018

### Diagnosis

In [19]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
diag = puf_2018["PUF_ICDDIAGNOSIS"]
diag_bikes = diag[diag["INC_KEY"].isin(inc_keys)]

# Merging with ICDDIAGNOSISCODE descriptions
diag_loopup = puf_2018["PUF_ICDDIAGNOSIS_LOOKUP"]
diag_loopup = diag_loopup.drop("ICD_VERSION", axis=1)
diag_bikes = pd.merge(diag_bikes, diag_loopup, how="left", on="ICDDIAGNOSISCODE")
diag_bikes["Year"] = 2018
stat_printer(diag_bikes)

# Optional export to CSV
#diag_bikes.to_csv(cwd+"/TQP_Files/diagnosis/2018_diagnosis.csv", index=False)

Shape: (126064, 6)
Unique INC KEYS: 24615

,INC_KEY,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_BIU,ICDDIAGNOSISVERSION,ICDDIAGNOSISCODE_DESC,Year
0,180022077731,S32.010A,NaN,ICD10,Wedge compression fracture of first lumbar ver...,2018
1,180022077731,S32.82XA,NaN,ICD10,Multiple fractures of pelvis without disruptio...,2018
2,180022077731,S70.311A,NaN,ICD10,"Abrasion, right thigh, initial encounter",2018
3,180022077731,S22.41XA,NaN,ICD10,"Multiple fractures of ribs, right side, initia...",2018
4,180022077731,S27.2XXA,NaN,ICD10,"Traumatic hemopneumothorax, initial encounter",2018

### Procedures

In [20]:
# Filtering PUF_ICDPROCEDURE for biker INC_KEYS
proced = puf_2018["PUF_ICDPROCEDURE"]
proced_bikes = proced[proced["INC_KEY"].isin(inc_keys)]

# Merging with ICDPROCEDURECODE descriptions
proced_loopup = puf_2018["PUF_ICDPROCEDURE_LOOKUP"]
proced_loopup = proced_loopup.drop("ICD_VERSION", axis=1)
proced_bikes = pd.merge(proced_bikes, proced_loopup, how="left", on="ICDPROCEDURECODE")
proced_bikes["Year"] = 2018
stat_printer(proced_bikes)

# Optional export to CSV
#proced_bikes.to_csv(cwd+"/TQP_Files/procedures/2018_procedures.csv", index=False)

Shape: (157274, 8)
Unique INC KEYS: 24615

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDURECODE_BIU,ICDPROCEDUREVERSION,PROCEDUREMINS,PROCEDUREDAYS,ICDPROCEDURECODE_DESC,Year
0,180027151502,BW28ZZZ,NaN,ICD10,35.0,1.0,Computerized Tomography (CT Scan) of Head,2018
1,180027151502,BR20ZZZ,NaN,ICD10,35.0,1.0,Computerized Tomography (CT Scan) of Cervical ...,2018
2,180023582790,BR27ZZZ,NaN,ICD10,22.0,1.0,Computerized Tomography (CT Scan) of Thoracic ...,2018
3,180023582790,BP2WYZZ,NaN,ICD10,140.0,1.0,Computerized Tomography (CT Scan) of Thorax us...,2018
4,180023582790,BW20YZZ,NaN,ICD10,140.0,1.0,Computerized Tomography (CT Scan) of Abdomen u...,2018

## **Importing and Cleaning Files for 2019**

In [21]:
puf_2019 = csv_importer(filepath="I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV", rows=None)

csv file list:
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF Variable Formats.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_AIS05TO98_CROSSWALK.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_AISDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_AISDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_ECODE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_HOSPITALEVENTS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_ICDDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_ICDDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_ICDPROCEDURE.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_ICDPROCEDURE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_PREEXISTINGCONDITIONS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_TRAUMA.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\PUF_TRAUMA_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2019/CSV\TQP_INCLUSION.csv

PUF Variable Formats - Dimensions: (171, 3)

       TABLENAME          VARIABLENAME FORMAT
0     PUF_TRAUMA    ABUSEINVESTIGATION    YN.
1     PUF_TRAUMA           ABUSEREPORT    YN.
2  TQP_INCLUSION             ADULTTQIP    YN.
3     PUF_TRAUMA  AIRBAG_DEPLOYED_FRNT    YN.
4     PUF_TRAUMA    AIRBAG_DEPLOYED_NA    YN.

PUF_AIS05TO98_CROSSWALK - Dimensions: (1999, 5)

,AIS05_PREDOT,AIS05_SEVERITY,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION
0,500099,9,515099,9.0,"Abdomen, Blunt Injury, NFS"
1,500999,9,515999,9.0,"Abdomen, Blunt Injury, Died w/o Further Evalua..."
2,516000,1,516000,1.0,"Abdomen, Penetrating Injury, NFS"
3,516002,1,516002,1.0,"Abdomen, Penetrating Injury, Minor into the pe..."
4,516004,2,516004,2.0,"Abdomen, Penetrating Injury tissue loss > 100 ..."

PUF_AISDIAGNOSIS - Dimensions: (3722652, 4)

        INC_KEY AISVERSION  AISPREDOT  AISSEVERITY
0  190026915237     AIS 05   810604.0          2.0
1  190026915238     AIS 05   816015.0          1.0
2  190026915239     AIS 05   161002.0          2.0
3  190026915239     AIS 05   210402.0          1.0
4  190026915239     AIS 05   210604.0          2.0

PUF_AISDIAGNOSIS_LOOKUP - Dimensions: (5374, 5)

,AISPREDOT,AISSEVERITY,AISDESCRIPTION,AISVERSION,ISSREGION
0,10000,1,"Hypothermia NFS [primary injury, not treatment...",AIS 2005,6.0
1,10000,1,"Hypothermia NFS (primary injury, environmental...",AIS 2015,6.0
2,10002,1,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0
3,10002,1,"Hypothermia (primary injury, environmental, no...",AIS 2015,6.0
4,10004,2,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0

PUF_ECODE_LOOKUP - Dimensions: (3013, 6)

,ECODE,ECODE_DESC,INTENT,MECHANISM,TRAUMATYPE,ICD_VERSION
0,T17.0XXA,"""Foreign body in nasal sinus, initial encounter""",1,23.0,4.0,ICD10
1,T17.1XXA,"""Foreign body in nostril, initial encounter""",1,23.0,4.0,ICD10
2,T17.200A,"""Unspecified foreign body in pharynx causing a...",1,22.0,4.0,ICD10
3,T17.208A,"""Unspecified foreign body in pharynx causing o...",1,23.0,4.0,ICD10
4,T17.210A,"""Gastric contents in pharynx causing asphyxiat...",1,22.0,4.0,ICD10

PUF_HOSPITALEVENTS - Dimensions: (23040990, 4)

        INC_KEY  HOSPITALEVENT  HOSPITALEVENTANSWER  HOSPITALEVENTANSWER_BIU
0  190027139878             25                  2.0                      NaN
1  190027188789             19                  2.0                      NaN
2  190027188789             21                  2.0                      NaN
3  190026995993             31                  2.0                      NaN
4  190026995993             32                  2.0                      NaN

PUF_ICDDIAGNOSIS - Dimensions: (4369620, 3)

        INC_KEY ICDDIAGNOSISCODE ICDDIAGNOSISVERSION
0  190028173802         S40.812A               ICD10
1  190028173802         S27.2XXA               ICD10
2  190027456055         S06.389A               ICD10
3  190027456055         S06.369A               ICD10
4  190027456056         S06.5X9A               ICD10

Alternate encoding used for PUF_ICDDIAGNOSIS_LOOKUP

PUF_ICDDIAGNOSIS_LOOKUP - Dimensions: (95141, 3)

,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_DESC,ICD_VERSION
0,S29.8,Other specified injuries of thorax,ICD10
1,S31.521D,"""Laceration with foreign body of unspecified e...",ICD10
2,S31.532,"""Puncture wound without foreign body of unspec...",ICD10
3,S31.541,"""Puncture wound with foreign body of unspecifi...",ICD10
4,S31.541D,"""Puncture wound with foreign body of unspecifi...",ICD10

PUF_ICDPROCEDURE - Dimensions: (7187257, 6)

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU
0,190026992548,BW241ZZ,ICD10,0.25,1.0,NaN
1,190026992548,BW28ZZZ,ICD10,0.25,1.0,NaN
2,190026992548,0BH17EZ,ICD10,0.13,1.0,NaN
3,190026992548,05H633Z,ICD10,1.60,1.0,NaN
4,190026992548,0BQ10ZZ,ICD10,1.60,1.0,NaN

PUF_ICDPROCEDURE_LOOKUP - Dimensions: (80635, 3)

,ICDPROCEDURECODE,ICDPROCEDURECODE_DESC,ICD_VERSION
0,0RG80K1,Fusion of 8 or more Thoracic Vertebral Joints ...,ICD10
1,04UH47Z,Supplement Right External Iliac Artery with Au...,ICD10
2,0RHA48Z,Insertion of Spacer into Thoracolumbar Vertebr...,ICD10
3,0SPC07Z,Removal of Autologous Tissue Substitute from R...,ICD10
4,0GML4ZZ,Reattachment of Right Superior Parathyroid Gla...,ICD10

PUF_PREEXISTINGCONDITIONS - Dimensions: (27429750, 4)

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU
0,190026970462,10,2.0,NaN
1,190026970462,11,2.0,NaN
2,190026970462,12,2.0,NaN
3,190026970462,13,2.0,NaN
4,190026970462,15,2.0,NaN

PUF_TRAUMA - Dimensions: (1097190, 304)

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,GCS40VERBAL_BIU,TBIGCS40MOTOR,TBIGCS40MOTOR_BIU,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION
0,190026915237,2.0,NaN,40.0,0,0,1,0,0,0,...,2.0,NaN,1.0,university,2.0,2,1.0,NaN,1.0,7.0
1,190026915238,1.0,NaN,24.0,0,0,0,0,1,0,...,2.0,NaN,1.0,university,2.0,2,1.0,NaN,1.0,7.0
2,190026915239,2.0,NaN,66.0,0,0,0,0,0,1,...,2.0,NaN,2.0,university,2.0,2,1.0,NaN,1.0,7.0
3,190026915240,1.0,NaN,18.0,0,0,0,0,0,1,...,2.0,NaN,2.0,university,2.0,2,1.0,NaN,1.0,7.0
4,190026915241,1.0,NaN,47.0,0,0,1,0,0,0,...,2.0,NaN,1.0,university,2.0,2,1.0,NaN,1.0,7.0

PUF_TRAUMA_LOOKUP - Dimensions: (266, 4)

       FMTNAME  START  END                        LABEL
0  Angiography      1    1                         None
1  Angiography      2    2               Angiogram only
2  Angiography      3    3  Angiogram with embolization
3  Angiography      4    4      Angiogram with stenting
4          BIU      1    1         Not Applicable BIU 1

TQP_INCLUSION - Dimensions: (1097190, 5)

        INC_KEY TQIPSITE ADULTTQIP PEDSTQIP L3TQIP
0  190026915237      Yes        No       No     No
1  190026915238      Yes        No       No     No
2  190026915239      Yes        No       No     No
3  190026915240      Yes       Yes       No     No
4  190026915241      Yes       Yes       No     No

### Trauma

In [23]:
# Selecting pedal cyclist injuries from ICD-10 codes
icd10_biker_ecodes = ["V10.0XXA", "V10.2XXA", "V10.4XXA", "V11.0XXA", "V11.1XXA", "V11.2XXA", "V11.4XXA", "V12.0XXA", "V12.4XXA", "V12.5XXA", 
                      "V12.9XXA", "V13.0XXA", "V13.1XXA", "V13.2XXA", "V13.3XXA", "V13.4XXA", "V13.5XXA", "V13.9XXA", "V14.0XXA", "V14.4XXA", 
                      "V14.5XXA", "V14.9XXA", "V15.4XXA", "V16.0XXA", "V16.4XXA", "V17.0XXA", "V17.1XXA", "V17.2XXA", "V17.3XXA", "V17.4XXA", 
                      "V17.9XXA", "V18.0XXA", "V18.1XXA", "V18.2XXA", "V18.3XXA", "V18.4XXA", "V18.5XXA", "V18.9XXA", "V19.00XA", "V19.09XA", 
                      "V19.3XXA", "V19.40XA", "V19.49XA", "V19.59XA", "V19.60XA", "V19.88XA", "V19.9XXA"]
icd10_ecode_bikes = puf_2019["PUF_ECODE_LOOKUP"]
icd10_ecode_bikes = icd10_ecode_bikes[icd10_ecode_bikes["ECODE"].isin(icd10_biker_ecodes)]
ecode_dict = dict(list(zip(icd10_ecode_bikes["ECODE"], icd10_ecode_bikes["ECODE_DESC"])))

# Filtering the major trauma df for bike injuries and annotating with ecode descriptions
trauma = puf_2019["PUF_TRAUMA"]
trauma_bikes = trauma[trauma["PRIMARYECODEICD10"].isin(icd10_biker_ecodes)]
trauma_bikes["ECODE_DESC"] = trauma_bikes["PRIMARYECODEICD10"].map(ecode_dict)
trauma_bikes["Year"] = 2019
inc_keys = pd.Series(trauma_bikes["INC_KEY"]) #getting a list of INC_KEYS to filter other dfs
year = 2019
n_total = len(trauma["INC_KEY"].unique())
n_bikers = len(trauma_bikes["INC_KEY"].unique())
frac_bikers = np.round((n_bikers / n_total) * 100, 3)
print("In the year {0} there were {1}/{2} pedalcylist trauma injuries / total trauama injuries ({3}%)".format(year, n_bikers, n_total, frac_bikers))
stat_printer(trauma_bikes)

# Optional export to CSV
#trauma_bikes.to_csv(cwd+"/TQP_Files/main/2019_trauma.csv", index=False)

In the year 2019 there were 26051/1097190 pedalcylist trauma injuries / total trauama injuries (2.374%)
Shape: (26051, 306)
Unique INC KEYS: 26051

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,TBIGCS40MOTOR_BIU,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,ECODE_DESC,Year
90,190026915327,1.0,NaN,27.0,0,0,0,0,0,1,...,1.0,university,2.0,2,1.0,NaN,1.0,7.0,"""Pedal cycle driver injured in collision with ...",2019
331,190026952480,1.0,NaN,38.0,0,0,0,0,0,1,...,1.0,community,2.0,4,1.0,NaN,1.0,NaN,"""Pedal cycle driver injured in collision with ...",2019
335,190026952484,1.0,NaN,49.0,0,0,0,0,0,1,...,1.0,community,2.0,4,1.0,NaN,1.0,NaN,"""Pedal cycle driver injured in noncollision tr...",2019
356,190026952505,1.0,NaN,51.0,0,0,0,0,0,1,...,1.0,community,2.0,4,1.0,NaN,1.0,NaN,"""Pedal cycle driver injured in noncollision tr...",2019
554,190026952705,1.0,NaN,50.0,0,0,1,0,0,0,...,1.0,community,2.0,4,1.0,NaN,1.0,NaN,"""Pedal cycle driver injured in collision with ...",2019

### Injury Severity Score (AIS)

In [25]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
ais = puf_2019["PUF_AISDIAGNOSIS"]
ais_bikes = ais[ais["INC_KEY"].isin(inc_keys)]

# Merging with AISPREDOT descriptions
ais_lookup = puf_2019["PUF_AISDIAGNOSIS_LOOKUP"]
ais_lookup["AISPREDOT"] = ais_lookup["AISPREDOT"].astype(float)
ais_lookup = ais_lookup.drop(["AISSEVERITY", "AISVERSION"], axis=1)
ais_bikes = pd.merge(ais_bikes, ais_lookup, how="left", on="AISPREDOT")

# Merging with AIS05TO98_CROSSWALK
ais_cross = puf_2019["PUF_AIS05TO98_CROSSWALK"]
ais_cross.columns = ['AISPREDOT', 'AIS05_SEVERITY', 'AIS98_PREDOT', 'AIS98_SEVERITY', 'AIS98_DESCRIPTION']
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].astype(float)
ais_cross = ais_cross.drop("AIS05_SEVERITY", axis=1)
ais_bikes = pd.merge(ais_bikes, ais_cross, how="left", on="AISPREDOT")
ais_bikes["Year"] = 2019
stat_printer(ais_bikes)

# Optional export to CSV
#ais_bikes.to_csv(cwd+"/TQP_Files/ais/2019_AIS.csv", index=False)

Shape: (300856, 10)
Unique INC KEYS: 26049

,INC_KEY,AISVERSION,AISPREDOT,AISSEVERITY,AISDESCRIPTION,ISSREGION,AIS98_PREDOT,AIS98_SEVERITY,AIS98_DESCRIPTION,Year
0,190026915327,AIS 05,210202.0,1.0,"Face, Skin, Abrasion",6.0,210202,1.0,"Face, Skin, Abrasion",2019
1,190026915327,AIS 05,210202.0,1.0,Face - Skin/subcutaneous/muscle - abrasion,6.0,210202,1.0,"Face, Skin, Abrasion",2019
2,190026915327,AIS 05,210202.0,1.0,"Skin/subcutaneous/muscle, face, [includes eyel...",6.0,210202,1.0,"Face, Skin, Abrasion",2019
3,190026915327,AIS 05,510202.0,1.0,"Abdomen, Skin, Abrasion",6.0,510202,1.0,"Abdomen, Skin, Abrasion",2019
4,190026915327,AIS 05,510202.0,1.0,Abdomen - Skin/Subcutaneous/Muscle [except rec...,6.0,510202,1.0,"Abdomen, Skin, Abrasion",2019

### Hospital events

In [27]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
events = puf_2019["PUF_HOSPITALEVENTS"]
events_bikes = events[events["INC_KEY"].isin(inc_keys)]
events_bikes["Year"] = 2019
stat_printer(events_bikes)

# Optional export to CSV
#events_bikes.to_csv(cwd+"/TQP_Files/events/2019_events.csv", index=False)

Shape: (547071, 5)
Unique INC KEYS: 26051

,INC_KEY,HOSPITALEVENT,HOSPITALEVENTANSWER,HOSPITALEVENTANSWER_BIU,Year
246,190028294250,5,2.0,NaN,2019
247,190028294250,8,2.0,NaN,2019
248,190028294250,12,2.0,NaN,2019
249,190028294250,14,2.0,NaN,2019
250,190028294250,15,2.0,NaN,2019

### Diagnosis

In [29]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
diag = puf_2019["PUF_ICDDIAGNOSIS"]
diag_bikes = diag[diag["INC_KEY"].isin(inc_keys)]

# Merging with ICDDIAGNOSISCODE descriptions
diag_loopup = puf_2019["PUF_ICDDIAGNOSIS_LOOKUP"]
diag_loopup = diag_loopup.drop("ICD_VERSION", axis=1)
diag_bikes = pd.merge(diag_bikes, diag_loopup, how="left", on="ICDDIAGNOSISCODE")
diag_bikes["Year"] = 2019
stat_printer(diag_bikes)

# Optional export to CSV
#diag_bikes.to_csv(cwd+"/TQP_Files/diagnosis/2019_diagnosis.csv", index=False)

Shape: (135751, 5)
Unique INC KEYS: 26051

,INC_KEY,ICDDIAGNOSISCODE,ICDDIAGNOSISVERSION,ICDDIAGNOSISCODE_DESC,Year
0,190031419547,S27.0XXA,ICD10,"""Traumatic pneumothorax, initial encounter""",2019
1,190031419547,S22.32XA,ICD10,"""Fracture of one rib, left side, initial encou...",2019
2,190031419547,S01.81XA,ICD10,"""Laceration without foreign body of other part...",2019
3,190031419547,S80.212A,ICD10,"""Abrasion, left knee, initial encounter""",2019
4,190031419547,S06.6X9A,ICD10,"""Traumatic subarachnoid hemorrhage with loss o...",2019

### Procedures

In [31]:
# Filtering PUF_ICDPROCEDURE for biker INC_KEYS
proced = puf_2019["PUF_ICDPROCEDURE"]
proced_bikes = proced[proced["INC_KEY"].isin(inc_keys)]

# Merging with ICDPROCEDURECODE descriptions
proced_loopup = puf_2019["PUF_ICDPROCEDURE_LOOKUP"]
proced_loopup = proced_loopup.drop("ICD_VERSION", axis=1)
proced_bikes = pd.merge(proced_bikes, proced_loopup, how="left", on="ICDPROCEDURECODE")
proced_bikes["Year"] = 2019
stat_printer(proced_bikes)

# Optional export to CSV
#proced_bikes.to_csv(cwd+"/TQP_Files/procedures/2019_procedures.csv", index=False)

Shape: (173374, 8)
Unique INC KEYS: 26051

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU,ICDPROCEDURECODE_DESC,Year
0,190027588358,BQ0GZZZ,ICD10,0.37,1.0,NaN,Plain Radiography of Right Ankle,2019
1,190028239191,NaN,ICD10,NaN,NaN,5.0,NaN,2019
2,190028239187,0W9G30Z,ICD10,719.48,31.0,NaN,Drainage of Peritoneal Cavity with Drainage De...,2019
3,190028239187,0W9B3ZZ,ICD10,1275.80,54.0,NaN,"Drainage of Left Pleural Cavity, Percutaneous ...",2019
4,190037330021,BW03ZZZ,ICD10,0.92,1.0,NaN,Plain Radiography of Chest,2019

### Preexisting Conditions

In [33]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
pre = puf_2019["PUF_PREEXISTINGCONDITIONS"]
pre_bikes = pre[pre["INC_KEY"].isin(inc_keys)]
pre_bikes["Year"] = 2019
stat_printer(pre_bikes)

# Optional export to CSV
#pre_bikes.to_csv(cwd+"/TQP_Files/preexisting/2019_preexisting_conditions.csv", index=False)

Shape: (651275, 5)
Unique INC KEYS: 26051

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU,Year
9,190027173027,4,2.0,NaN,2019
10,190027173027,5,2.0,NaN,2019
11,190027173027,6,2.0,NaN,2019
12,190027173027,7,2.0,NaN,2019
13,190027173027,8,2.0,NaN,2019

## **Importing and Cleaning Files for 2020**

In [34]:
puf_2020 = csv_importer(filepath="I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV", rows=None)

csv file list:
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF Variable Formats.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_AIS15TO05_CROSSWALK.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_AISDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_AISDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_ECODE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_HOSPITALEVENTS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_ICDDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_ICDDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_ICDPROCEDURE.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_ICDPROCEDURE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_PREEXISTINGCONDITIONS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_TRAUMA.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\PUF_TRAUMA_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2020/CSV\TQP_INCLUSION.csv

PUF Variable Formats - Dimensions: (167, 3)

       TABLENAME          VARIABLENAME FORMAT
0     PUF_TRAUMA    ABUSEINVESTIGATION    YN.
1     PUF_TRAUMA           ABUSEREPORT    YN.
2  TQP_INCLUSION             ADULTTQIP    YN.
3     PUF_TRAUMA  AIRBAG_DEPLOYED_FRNT    YN.
4     PUF_TRAUMA    AIRBAG_DEPLOYED_NA    YN.

PUF_AIS15TO05_CROSSWALK - Dimensions: (2006, 5)

,AIS15_PREDOT,AIS15_SEVERITY,AIS05_PREDOT,AIS05_SEVERITY,AIS_DESCRIPTION
0,10000,1,010000,1.0,"Hypothermia NFS (primary injury, environmental..."
1,10002,1,010002,1.0,"Hypothermia (primary injury, environmental, no..."
2,10004,2,010004,2.0,"Hypothermia (primary injury, environmental, no..."
3,10006,3,010006,3.0,"Hypothermia (primary injury, environmental, no..."
4,10008,4,010008,4.0,"Hypothermia (primary injury, environmental, no..."

PUF_AISDIAGNOSIS - Dimensions: (3943347, 4)

        INC_KEY AISVERSION  AISPREDOT  AISSEVERITY
0  200042885961   AIS 2005     140677            4
1  200042885961   AIS 2005     441406            2
2  200042885961   AIS 2005     442202            2
3  200042885961   AIS 2005     450203            3
4  200042885961   AIS 2005     544226            4

PUF_AISDIAGNOSIS_LOOKUP - Dimensions: (5374, 5)

,AISPREDOT,AISSEVERITY,AISDESCRIPTION,AISVERSION,ISSREGION
0,10000,1,"Hypothermia NFS [primary injury, not treatment...",AIS 2005,6.0
1,10000,1,"Hypothermia NFS (primary injury, environmental...",AIS 2015,6.0
2,10002,1,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0
3,10002,1,"Hypothermia (primary injury, environmental, no...",AIS 2015,6.0
4,10004,2,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0

PUF_ECODE_LOOKUP - Dimensions: (3054, 6)

,ECODE,ECODE_DESC,INTENT,MECHANISM,TRAUMATYPE,ICD_VERSION
0,T17.0XXA,"""Foreign body in nasal sinus, initial encounter""",1,23.0,4.0,ICD10
1,T17.1XXA,"""Foreign body in nostril, initial encounter""",1,23.0,4.0,ICD10
2,T17.200A,"""Unspecified foreign body in pharynx causing a...",1,22.0,4.0,ICD10
3,T17.208A,"""Unspecified foreign body in pharynx causing o...",1,23.0,4.0,ICD10
4,T17.210A,"""Gastric contents in pharynx causing asphyxiat...",1,22.0,4.0,ICD10

PUF_HOSPITALEVENTS - Dimensions: (24970396, 4)

        INC_KEY  HOSPITALEVENT  HOSPITALEVENTANSWER  HOSPITALEVENTANSWER_BIU
0  200042885961              4                  2.0                      NaN
1  200042885961              5                  2.0                      NaN
2  200042885961              8                  2.0                      NaN
3  200042885961             12                  2.0                      NaN
4  200042885961             14                  2.0                      NaN

PUF_ICDDIAGNOSIS - Dimensions: (4700473, 3)

        INC_KEY ICDDIAGNOSISCODE ICDDIAGNOSISVERSION
0  200042885961         S06.2X9A               ICD10
1  200042885961         S12.691A               ICD10
2  200042885961         S22.040A               ICD10
3  200042885961         S22.41XA               ICD10
4  200042885961         S27.0XXA               ICD10

Alternate encoding used for PUF_ICDDIAGNOSIS_LOOKUP

PUF_ICDDIAGNOSIS_LOOKUP - Dimensions: (95141, 3)

,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_DESC,ICD_VERSION
0,S06.365A,"""Traumatic hemorrhage of cerebrum, unspecified...",ICD10
1,S06.365S,"""Traumatic hemorrhage of cerebrum, unspecified...",ICD10
2,S06.367,"""Traumatic hemorrhage of cerebrum, unspecified...",ICD10
3,S10.84XS,"""External constriction of other specified part...",ICD10
4,S12.501G,"""Unspecified nondisplaced fracture of sixth ce...",ICD10

PUF_ICDPROCEDURE - Dimensions: (7722096, 6)

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU
0,200042885961,009630Z,ICD10,3.50,2.0,NaN
1,200042885961,07TP0ZZ,ICD10,4.37,2.0,NaN
2,200042885961,0B110F4,ICD10,588.25,26.0,NaN
3,200042885961,0BH17EZ,ICD10,0.33,1.0,NaN
4,200042885961,0PSL04Z,ICD10,58.75,4.0,NaN

PUF_ICDPROCEDURE_LOOKUP - Dimensions: (81959, 3)

,ICDPROCEDURECODE,ICDPROCEDURECODE_DESC,ICD_VERSION
0,07VG4ZZ,"Restriction of Left Lower Extremity Lymphatic,...",ICD10
1,0VU24JZ,Supplement Left Seminal Vesicle with Synthetic...,ICD10
2,0BQF7ZZ,"Repair Right Lower Lung Lobe, Via Natural or A...",ICD10
3,0U15079,Bypass Right Fallopian Tube to Uterus with Aut...,ICD10
4,06PY4JZ,Removal of Synthetic Substitute from Lower Vei...,ICD10

PUF_PREEXISTINGCONDITIONS - Dimensions: (29510468, 4)

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU
0,200042885961,2,1.0,NaN
1,200042885961,4,2.0,NaN
2,200042885961,5,2.0,NaN
3,200042885961,6,2.0,NaN
4,200042885961,7,2.0,NaN

C:\Users\TooFastDan\AppData\Local\Temp\ipykernel_23148\3807825539.py:21: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv, nrows=rows)

PUF_TRAUMA - Dimensions: (1133053, 284)

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,ISS,ISSVERSION,INPATIENTHRS,INPATIENTDAYS,INPATIENTDH_BIU
0,200042885961,1.0,NaN,24.0,0,0,0,0,0,1,...,3,2.0,NaN,2.0,NaN,41,AIS 2005,1264.53,54.0,NaN
1,200042885962,1.0,NaN,36.0,0,0,1,0,0,0,...,3,2.0,NaN,2.0,NaN,5,AIS 2005,8.35,1.0,NaN
2,200042885963,1.0,NaN,64.0,0,0,0,0,0,1,...,3,2.0,NaN,2.0,NaN,9,AIS 2005,57.38,4.0,NaN
3,200042885964,2.0,NaN,51.0,0,0,1,0,0,0,...,3,2.0,NaN,2.0,NaN,12,AIS 2005,115.22,6.0,NaN
4,200042885965,2.0,NaN,86.0,0,0,0,0,0,1,...,3,2.0,NaN,2.0,NaN,5,AIS 2005,136.28,7.0,NaN

PUF_TRAUMA_LOOKUP - Dimensions: (259, 4)

       FMTNAME  START  END                        LABEL
0  Angiography      1    1                         None
1  Angiography      2    2               Angiogram only
2  Angiography      3    3  Angiogram with embolization
3  Angiography      4    4      Angiogram with stenting
4          BIU      1    1         Not Applicable BIU 1

TQP_INCLUSION - Dimensions: (1135018, 5)

        INC_KEY  TQIPSITE  ADULTTQIP  PEDSTQIP  L3TQIP
0  200042885961         1          1         0       0
1  200042885962         1          0         0       0
2  200042885963         1          0         0       0
3  200042885964         1          0         0       0
4  200042885965         1          0         0       0

### Trauma

In [36]:
# Selecting pedal cyclist injuries from ICD-10 codes
icd10_biker_ecodes = ["V10.0XXA", "V10.2XXA", "V10.4XXA", "V11.0XXA", "V11.1XXA", "V11.2XXA", "V11.4XXA", "V12.0XXA", "V12.4XXA", "V12.5XXA", 
                      "V12.9XXA", "V13.0XXA", "V13.1XXA", "V13.2XXA", "V13.3XXA", "V13.4XXA", "V13.5XXA", "V13.9XXA", "V14.0XXA", "V14.4XXA", 
                      "V14.5XXA", "V14.9XXA", "V15.4XXA", "V16.0XXA", "V16.4XXA", "V17.0XXA", "V17.1XXA", "V17.2XXA", "V17.3XXA", "V17.4XXA", 
                      "V17.9XXA", "V18.0XXA", "V18.1XXA", "V18.2XXA", "V18.3XXA", "V18.4XXA", "V18.5XXA", "V18.9XXA", "V19.00XA", "V19.09XA", 
                      "V19.3XXA", "V19.40XA", "V19.49XA", "V19.59XA", "V19.60XA", "V19.88XA", "V19.9XXA"]
icd10_ecode_bikes = puf_2020["PUF_ECODE_LOOKUP"]
icd10_ecode_bikes = icd10_ecode_bikes[icd10_ecode_bikes["ECODE"].isin(icd10_biker_ecodes)]
ecode_dict = dict(list(zip(icd10_ecode_bikes["ECODE"], icd10_ecode_bikes["ECODE_DESC"])))

# Filtering the major trauma df for bike injuries and annotating with ecode descriptions
trauma = puf_2020["PUF_TRAUMA"]
trauma_bikes = trauma[trauma["PRIMARYECODEICD10"].isin(icd10_biker_ecodes)]
trauma_bikes["ECODE_DESC"] = trauma_bikes["PRIMARYECODEICD10"].map(ecode_dict)
trauma_bikes["Year"] = 2020
inc_keys = pd.Series(trauma_bikes["INC_KEY"]) #getting a list of INC_KEYS to filter other dfs
year = 2020
n_total = len(trauma["INC_KEY"].unique())
n_bikers = len(trauma_bikes["INC_KEY"].unique())
frac_bikers = np.round((n_bikers / n_total) * 100, 3)
print("In the year {0} there were {1}/{2} pedalcylist trauma injuries / total trauama injuries ({3}%)".format(year, n_bikers, n_total, frac_bikers))
stat_printer(trauma_bikes)

# Optional export to CSV
#trauma_bikes.to_csv(cwd+"/TQP_Files/main/2020_trauma.csv", index=False)

In the year 2020 there were 31796/1133053 pedalcylist trauma injuries / total trauama injuries (2.806%)
Shape: (31796, 286)
Unique INC KEYS: 31796

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,ISS,ISSVERSION,INPATIENTHRS,INPATIENTDAYS,INPATIENTDH_BIU,ECODE_DESC,Year
86,200042886047,2.0,NaN,67.0,0,0,0,0,0,1,...,NaN,2.0,NaN,5,AIS 2005,41.88,3.0,NaN,"""Pedal cyclist (driver) (passenger) injured in...",2020
203,200042886164,1.0,NaN,43.0,0,0,0,0,0,1,...,NaN,2.0,NaN,4,AIS 2005,NaN,NaN,5.0,"""Pedal cycle driver injured in noncollision tr...",2020
310,200042923787,2.0,NaN,8.0,0,0,0,0,0,1,...,NaN,NaN,NaN,16,AIS 2005,NaN,NaN,5.0,"""Pedal cycle driver injured in noncollision tr...",2020
496,200042924883,1.0,NaN,27.0,0,0,0,0,0,1,...,NaN,NaN,NaN,9,AIS 2005,42.73,3.0,NaN,"""Person boarding or alighting a pedal cycle in...",2020
604,200042970263,1.0,NaN,18.0,0,0,0,0,0,1,...,NaN,NaN,NaN,14,AIS 2005,35.88,3.0,NaN,"""Pedal cycle driver injured in noncollision tr...",2020

### Injury Severity Score (AIS)

In [38]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
ais = puf_2020["PUF_AISDIAGNOSIS"]
ais_bikes = ais[ais["INC_KEY"].isin(inc_keys)]
ais_bikes["AISPREDOT"] = ais_bikes["AISPREDOT"].astype(float)

# Merging with AISPREDOT descriptions
ais_lookup = puf_2020["PUF_AISDIAGNOSIS_LOOKUP"]
ais_lookup["AISPREDOT"] = ais_lookup["AISPREDOT"].astype(float)
ais_lookup = ais_lookup.drop(["AISSEVERITY", "AISVERSION"], axis=1)
ais_bikes = pd.merge(ais_bikes, ais_lookup, how="left", on="AISPREDOT")

# Merging with AIS05TO98_CROSSWALK
ais_cross = puf_2020["PUF_AIS15TO05_CROSSWALK"]
ais_cross.columns = ['AIS15_PREDOT', 'AIS15_SEVERITY', 'AISPREDOT', 'AIS05_SEVERITY', 'AIS15_DESCRIPTION']
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].replace("None", np.nan)
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].astype(float)
ais_cross = ais_cross.drop("AIS05_SEVERITY", axis=1)
ais_bikes = pd.merge(ais_bikes, ais_cross, how="left", on="AISPREDOT")
ais_bikes["Year"] = 2020
stat_printer(ais_bikes)

# Optional export to CSV
#ais_bikes.to_csv(cwd+"/TQP_Files/ais/2020_AIS.csv", index=False)

Shape: (376527, 10)
Unique INC KEYS: 31796

,INC_KEY,AISVERSION,AISPREDOT,AISSEVERITY,AISDESCRIPTION,ISSREGION,AIS15_PREDOT,AIS15_SEVERITY,AIS15_DESCRIPTION,Year
0,200042886047,AIS 2005,510402.0,1,"Abdomen, Skin, Contusion",6.0,510402.0,1.0,"Skin/subcutaneous/muscle, abdomen, [except clo...",2020
1,200042886047,AIS 2005,510402.0,1,Abdomen - Skin/Subcutaneous/Muscle [except rec...,6.0,510402.0,1.0,"Skin/subcutaneous/muscle, abdomen, [except clo...",2020
2,200042886047,AIS 2005,510402.0,1,"Skin/subcutaneous/muscle, abdomen, [except clo...",6.0,510402.0,1.0,"Skin/subcutaneous/muscle, abdomen, [except clo...",2020
3,200042886047,AIS 2005,856100.0,2,Pelvic ring fracture NFS,5.0,856100.0,2.0,Pelvic ring fracture NFS [includes pelvic ring...,2020
4,200042886047,AIS 2005,856100.0,2,Pelvic ring fracture NFS [includes pelvic ring...,5.0,856100.0,2.0,Pelvic ring fracture NFS [includes pelvic ring...,2020

### Hospital events

In [40]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
events = puf_2020["PUF_HOSPITALEVENTS"]
events_bikes = events[events["INC_KEY"].isin(inc_keys)]
events_bikes["Year"] = 2020
stat_printer(events_bikes)

# Optional export to CSV
#events_bikes.to_csv(cwd+"/TQP_Files/events/2020_events.csv", index=False)

Shape: (699512, 5)
Unique INC KEYS: 31796

,INC_KEY,HOSPITALEVENT,HOSPITALEVENTANSWER,HOSPITALEVENTANSWER_BIU,Year
1892,200042886047,4,2.0,NaN,2020
1893,200042886047,5,2.0,NaN,2020
1894,200042886047,8,2.0,NaN,2020
1895,200042886047,12,2.0,NaN,2020
1896,200042886047,14,2.0,NaN,2020

### Diagnosis

In [42]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
diag = puf_2020["PUF_ICDDIAGNOSIS"]
diag_bikes = diag[diag["INC_KEY"].isin(inc_keys)]

# Merging with ICDDIAGNOSISCODE descriptions
diag_loopup = puf_2020["PUF_ICDDIAGNOSIS_LOOKUP"]
diag_loopup = diag_loopup.drop("ICD_VERSION", axis=1)
diag_bikes = pd.merge(diag_bikes, diag_loopup, how="left", on="ICDDIAGNOSISCODE")
diag_bikes["Year"] = 2020
stat_printer(diag_bikes)

# Optional export to CSV
#diag_bikes.to_csv(cwd+"/TQP_Files/diagnosis/2020_diagnosis.csv", index=False)

Shape: (166201, 5)
Unique INC KEYS: 31796

,INC_KEY,ICDDIAGNOSISCODE,ICDDIAGNOSISVERSION,ICDDIAGNOSISCODE_DESC,Year
0,200042886047,S30.1XXA,ICD10,"""Contusion of abdominal wall, initial encounter""",2020
1,200042886047,S32.511A,ICD10,"""Fracture of superior rim of right pubis, init...",2020
2,200042886047,T14.8XXA,ICD10,"""Other injury of unspecified body region, init...",2020
3,200042886164,S82.141A,ICD10,"""Displaced bicondylar fracture of right tibia,...",2020
4,200042886164,S83.191A,ICD10,"""Other subluxation of right knee, initial enco...",2020

### Procedures

In [44]:
# Filtering PUF_ICDPROCEDURE for biker INC_KEYS
proced = puf_2020["PUF_ICDPROCEDURE"]
proced_bikes = proced[proced["INC_KEY"].isin(inc_keys)]

# Merging with ICDPROCEDURECODE descriptions
proced_loopup = puf_2020["PUF_ICDPROCEDURE_LOOKUP"]
proced_loopup = proced_loopup.drop("ICD_VERSION", axis=1)
proced_bikes = pd.merge(proced_bikes, proced_loopup, how="left", on="ICDPROCEDURECODE")
proced_bikes["Year"] = 2020
stat_printer(proced_bikes)

# Optional export to CSV
#proced_bikes.to_csv(cwd+"/TQP_Files/procedures/2020_procedures.csv", index=False)

Shape: (208044, 8)
Unique INC KEYS: 31796

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU,ICDPROCEDURECODE_DESC,Year
0,200042886047,BW211ZZ,ICD10,1.78,1.0,NaN,Computerized Tomography (CT Scan) of Abdomen a...,2020
1,200042886164,0HBKXZZ,ICD10,66.32,4.0,NaN,"Excision of Right Lower Leg Skin, External App...",2020
2,200042886164,0QBG0ZZ,ICD10,66.32,4.0,NaN,"Excision of Right Tibia, Open Approach",2020
3,200042886164,0QPGX5Z,ICD10,66.32,4.0,NaN,Removal of External Fixation Device from Right...,2020
4,200042886164,0QSG04Z,ICD10,66.32,4.0,NaN,Reposition Right Tibia with Internal Fixation ...,2020

### Preexisting Conditions

In [46]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
pre = puf_2020["PUF_PREEXISTINGCONDITIONS"]
pre_bikes = pre[pre["INC_KEY"].isin(inc_keys)]
pre_bikes["Year"] = 2020
stat_printer(pre_bikes)

# Optional export to CSV
#pre_bikes.to_csv(cwd+"/TQP_Files/preexisting/2020_preexisting_conditions.csv", index=False)

Shape: (826696, 5)
Unique INC KEYS: 31796

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU,Year
2236,200042886047,2,2.0,NaN,2020
2237,200042886047,4,2.0,NaN,2020
2238,200042886047,5,2.0,NaN,2020
2239,200042886047,6,2.0,NaN,2020
2240,200042886047,7,2.0,NaN,2020

## **Importing and Cleaning Files for 2021**

In [47]:
puf_2021 = csv_importer(filepath="I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV", rows=None)

csv file list:
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF Variable Formats.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_AIS15TO05_CROSSWALK.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_AISDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_AISDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_ECODE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_HOSPITALEVENTS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_ICDDIAGNOSIS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_ICDDIAGNOSIS_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_ICDPROCEDURE.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_ICDPROCEDURE_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_PREEXISTINGCONDITIONS.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_TRAUMA.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\PUF_TRAUMA_LOOKUP.csv
I:/BCM_projects/Bike-Injuries/NTDB/PUF AY 2021/CSV\TQP_INCLUSION.csv

PUF Variable Formats - Dimensions: (138, 3)

       TABLENAME          VARIABLENAME FORMAT
0     PUF_TRAUMA    ABUSEINVESTIGATION    YN.
1     PUF_TRAUMA           ABUSEREPORT    YN.
2  TQP_INCLUSION             ADULTTQIP    YN.
3     PUF_TRAUMA  AIRBAG_DEPLOYED_FRNT    YN.
4     PUF_TRAUMA    AIRBAG_DEPLOYED_NA    YN.

PUF_AIS15TO05_CROSSWALK - Dimensions: (2006, 5)

,AIS15_PREDOT,AIS15_SEVERITY,AIS05_PREDOT,AIS05_SEVERITY,AIS_DESCRIPTION
0,10000,1,010000,1.0,"Hypothermia NFS (primary injury, environmental..."
1,10002,1,010002,1.0,"Hypothermia (primary injury, environmental, no..."
2,10004,2,010004,2.0,"Hypothermia (primary injury, environmental, no..."
3,10006,3,010006,3.0,"Hypothermia (primary injury, environmental, no..."
4,10008,4,010008,4.0,"Hypothermia (primary injury, environmental, no..."

PUF_AISDIAGNOSIS - Dimensions: (4252366, 4)

        INC_KEY AISVERSION  AISPREDOT  AISSEVERITY
0  210057637932   AIS 2005   140652.0          4.0
1  210057637932   AIS 2005   150202.0          3.0
2  210057637932   AIS 2005   750651.0          2.0
3  210057637932   AIS 2005   810202.0          1.0
4  210057637933   AIS 2005   856151.0          2.0

PUF_AISDIAGNOSIS_LOOKUP - Dimensions: (5374, 5)

,AISPREDOT,AISSEVERITY,AISDESCRIPTION,AISVERSION,ISSREGION
0,10000,1,"Hypothermia NFS [primary injury, not treatment...",AIS 2005,6.0
1,10000,1,"Hypothermia NFS (primary injury, environmental...",AIS 2015,6.0
2,10002,1,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0
3,10002,1,"Hypothermia (primary injury, environmental, no...",AIS 2015,6.0
4,10004,2,"Hypothermia [primary injury, not treatment-rel...",AIS 2005,6.0

PUF_ECODE_LOOKUP - Dimensions: (1904, 6)

,ECODE,ECODE_DESC,INTENT,MECHANISM,TRAUMATYPE,ICD_VERSION
0,T74.11XA,"""Adult physical abuse, confirmed, initial enco...",3,NaN,NaN,ICD10
1,T74.12XA,"""Child physical abuse, confirmed, initial enco...",3,NaN,NaN,ICD10
2,T74.4XXA,"""Shaken infant syndrome, initial encounter""",3,NaN,1.0,ICD10
3,T74.91XA,"""Unspecified adult maltreatment, confirmed, in...",3,NaN,NaN,ICD10
4,T74.92XA,"""Unspecified child maltreatment, confirmed, in...",3,NaN,NaN,ICD10

PUF_HOSPITALEVENTS - Dimensions: (26600134, 4)

        INC_KEY  HOSPITALEVENT  HOSPITALEVENTANSWER  HOSPITALEVENTANSWER_BIU
0  210057637932              4                  2.0                      NaN
1  210057637932              5                  2.0                      NaN
2  210057637932              8                  2.0                      NaN
3  210057637932             12                  2.0                      NaN
4  210057637932             14                  2.0                      NaN

PUF_ICDDIAGNOSIS - Dimensions: (4994321, 3)

        INC_KEY ICDDIAGNOSISCODE ICDDIAGNOSISVERSION
0  210057637932         S02.19XA               ICD10
1  210057637932         S06.5X0A               ICD10
2  210057637932         S42.022A               ICD10
3  210057637932         S80.212A               ICD10
4  210057637933         S32.519A               ICD10

Alternate encoding used for PUF_ICDDIAGNOSIS_LOOKUP

PUF_ICDDIAGNOSIS_LOOKUP - Dimensions: (95141, 3)

,ICDDIAGNOSISCODE,ICDDIAGNOSISCODE_DESC,ICD_VERSION
0,H02.033,"""Senile entropion of right eye, unspecified ey...",ICD10
1,H02.049,"""Spastic entropion of unspecified eye, unspeci...",ICD10
2,H02.052,Trichiasis without entropion right lower eyelid,ICD10
3,H16.14,Punctate keratitis,ICD10
4,H16.143,"""Punctate keratitis, bilateral""",ICD10

PUF_ICDPROCEDURE - Dimensions: (8619372, 6)

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU
0,210057637932,30233K1,ICD10,18.88,2.0,NaN
1,210057637932,BP09ZZZ,ICD10,0.87,1.0,NaN
2,210057637932,BR20ZZZ,ICD10,0.83,1.0,NaN
3,210057637932,BW03ZZZ,ICD10,0.87,1.0,NaN
4,210057637932,BW211ZZ,ICD10,1.57,1.0,NaN

PUF_ICDPROCEDURE_LOOKUP - Dimensions: (81959, 3)

,ICDPROCEDURECODE,ICDPROCEDURECODE_DESC,ICD_VERSION
0,09RM37Z,Replacement of Nasal Septum with Autologous Ti...,ICD10
1,09WH07Z,Revision of Autologous Tissue Substitute in Ri...,ICD10
2,B30N1ZZ,Plain Radiography of Other Upper Arteries usin...,ICD10
3,0BL74CZ,Occlusion of Left Main Bronchus with Extralumi...,ICD10
4,DM21JZZ,Stereotactic Gamma Beam Radiosurgery of Right ...,ICD10

PUF_PREEXISTINGCONDITIONS - Dimensions: (31435446, 4)

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU
0,210057637932,2,2.0,NaN
1,210057637932,4,2.0,NaN
2,210057637932,5,2.0,NaN
3,210057637932,6,2.0,NaN
4,210057637932,7,2.0,NaN

C:\Users\TooFastDan\AppData\Local\Temp\ipykernel_23148\3807825539.py:21: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv, nrows=rows)

PUF_TRAUMA - Dimensions: (1209097, 233)

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,GCS40VERBAL_BIU,TBIGCS40MOTOR,TBIGCS40MOTOR_BIU,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION
0,210057637932,2.0,NaN,43.0,0,0,0,0,0,1,...,2.0,NaN,2.0,5.0,2.0,3,2.0,NaN,2.0,NaN
1,210057637933,2.0,NaN,NaN,0,0,1,0,0,0,...,2.0,NaN,1.0,5.0,2.0,3,2.0,NaN,2.0,NaN
2,210057637934,2.0,NaN,80.0,0,0,0,0,0,1,...,2.0,NaN,1.0,5.0,2.0,3,2.0,NaN,2.0,NaN
3,210057637935,1.0,NaN,21.0,0,0,0,0,0,1,...,2.0,NaN,1.0,5.0,2.0,3,2.0,NaN,2.0,NaN
4,210057637936,2.0,NaN,80.0,0,0,1,0,0,0,...,2.0,NaN,2.0,5.0,2.0,3,2.0,NaN,2.0,NaN

PUF_TRAUMA_LOOKUP - Dimensions: (264, 4)

       FMTNAME  START  END                        LABEL
0  Angiography      1    1                         None
1  Angiography      2    2               Angiogram only
2  Angiography      3    3  Angiogram with embolization
3  Angiography      4    4      Angiogram with stenting
4          BIU      1    1         Not Applicable BIU 1

TQP_INCLUSION - Dimensions: (1209097, 5)

        INC_KEY  TQIPSITE  ADULTTQIP  PEDSTQIP  L3TQIP
0  210057637932         1          1         0       0
1  210057637933         1          0         0       0
2  210057637934         1          0         0       0
3  210057637935         1          1         0       0
4  210057637936         1          1         0       0

### Trauma

In [50]:
# Selecting pedal cyclist injuries from ICD-10 codes
icd10_biker_ecodes = ["V10.0XXA", "V10.2XXA", "V10.4XXA", "V11.0XXA", "V11.1XXA", "V11.2XXA", "V11.4XXA", "V12.0XXA", "V12.4XXA", "V12.5XXA", 
                      "V12.9XXA", "V13.0XXA", "V13.1XXA", "V13.2XXA", "V13.3XXA", "V13.4XXA", "V13.5XXA", "V13.9XXA", "V14.0XXA", "V14.4XXA", 
                      "V14.5XXA", "V14.9XXA", "V15.4XXA", "V16.0XXA", "V16.4XXA", "V17.0XXA", "V17.1XXA", "V17.2XXA", "V17.3XXA", "V17.4XXA", 
                      "V17.9XXA", "V18.0XXA", "V18.1XXA", "V18.2XXA", "V18.3XXA", "V18.4XXA", "V18.5XXA", "V18.9XXA", "V19.00XA", "V19.09XA", 
                      "V19.3XXA", "V19.40XA", "V19.49XA", "V19.59XA", "V19.60XA", "V19.88XA", "V19.9XXA"]
icd10_ecode_bikes = puf_2021["PUF_ECODE_LOOKUP"]
icd10_ecode_bikes = icd10_ecode_bikes[icd10_ecode_bikes["ECODE"].isin(icd10_biker_ecodes)]
ecode_dict = dict(list(zip(icd10_ecode_bikes["ECODE"], icd10_ecode_bikes["ECODE_DESC"])))

# Filtering the major trauma df for bike injuries and annotating with ecode descriptions
trauma = puf_2021["PUF_TRAUMA"]
trauma_bikes = trauma[trauma["PRIMARYECODEICD10"].isin(icd10_biker_ecodes)]
trauma_bikes["ECODE_DESC"] = trauma_bikes["PRIMARYECODEICD10"].map(ecode_dict)
trauma_bikes["Year"] = 2021
inc_keys = pd.Series(trauma_bikes["INC_KEY"]) #getting a list of INC_KEYS to filter other dfs
year = 2021
n_total = len(trauma["INC_KEY"].unique())
n_bikers = len(trauma_bikes["INC_KEY"].unique())
frac_bikers = np.round((n_bikers / n_total) * 100, 3)
print("In the year {0} there were {1}/{2} pedalcylist trauma injuries / total trauama injuries ({3}%)".format(year, n_bikers, n_total, frac_bikers))
stat_printer(trauma_bikes)

# Optional export to CSV
#trauma_bikes.to_csv(cwd+"/TQP_Files/main/2021_trauma.csv", index=False)

In the year 2021 there were 28795/1209097 pedalcylist trauma injuries / total trauama injuries (2.382%)
Shape: (28795, 235)
Unique INC KEYS: 28795

,INC_KEY,SEX,SEX_BIU,AGEYEARS,AMERICANINDIAN,ASIAN,BLACK,PACIFICISLANDER,RACEOTHER,WHITE,...,TBIGCS40MOTOR_BIU,TEACHINGSTATUS,HOSPITALTYPE,BEDSIZE,VERIFICATIONLEVEL,PEDIATRICVERIFICATIONLEVEL,STATEDESIGNATION,STATEPEDIATRICDESIGNATION,ECODE_DESC,Year
221,210057639590,1.0,NaN,53.0,0,0,0,0,0,1,...,1.0,6.0,1.0,2,NaN,NaN,3.0,7.0,"""Pedal cycle driver injured in noncollision tr...",2021
247,210057639629,1.0,NaN,37.0,0,0,0,0,1,0,...,1.0,6.0,1.0,2,NaN,NaN,3.0,7.0,"""Person boarding or alighting a pedal cycle in...",2021
284,210057639686,1.0,NaN,55.0,0,0,0,0,0,1,...,1.0,6.0,1.0,2,NaN,NaN,3.0,7.0,"""Pedal cycle driver injured in collision with ...",2021
377,210057699005,1.0,NaN,68.0,0,0,1,0,0,0,...,1.0,6.0,2.0,4,NaN,NaN,2.0,NaN,"""Pedal cycle driver injured in noncollision tr...",2021
436,210057699066,1.0,NaN,5.0,0,0,1,0,0,0,...,1.0,6.0,2.0,4,NaN,NaN,2.0,NaN,"""Pedal cycle driver injured in collision with ...",2021

### Injury Severity Score (AIS)

In [53]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
ais = puf_2021["PUF_AISDIAGNOSIS"]
ais_bikes = ais[ais["INC_KEY"].isin(inc_keys)]
ais_bikes["AISPREDOT"] = ais_bikes["AISPREDOT"].astype(float)

# Merging with AISPREDOT descriptions
ais_lookup = puf_2021["PUF_AISDIAGNOSIS_LOOKUP"]
ais_lookup["AISPREDOT"] = ais_lookup["AISPREDOT"].astype(float)
ais_lookup = ais_lookup.drop(["AISSEVERITY", "AISVERSION"], axis=1)
ais_bikes = pd.merge(ais_bikes, ais_lookup, how="left", on="AISPREDOT")

# Merging with AIS05TO98_CROSSWALK
ais_cross = puf_2021["PUF_AIS15TO05_CROSSWALK"]
ais_cross.columns = ['AIS15_PREDOT', 'AIS15_SEVERITY', 'AISPREDOT', 'AIS05_SEVERITY', 'AIS15_DESCRIPTION']
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].replace("None", np.nan)
ais_cross["AISPREDOT"] = ais_cross["AISPREDOT"].astype(float)
ais_cross = ais_cross.drop("AIS05_SEVERITY", axis=1)
ais_bikes = pd.merge(ais_bikes, ais_cross, how="left", on="AISPREDOT")
ais_bikes["Year"] = 2021
stat_printer(ais_bikes)

# Optional export to CSV
#ais_bikes.to_csv(cwd+"/TQP_Files/ais/2021_AIS.csv", index=False)

Shape: (349870, 10)
Unique INC KEYS: 28795

,INC_KEY,AISVERSION,AISPREDOT,AISSEVERITY,AISDESCRIPTION,ISSREGION,AIS15_PREDOT,AIS15_SEVERITY,AIS15_DESCRIPTION,Year
0,210057639590,AIS 2005,210602.0,1.0,"Face, Skin, Laceration, Minor",6.0,210602.0,1.0,"Skin/subcutaneous/muscle, face, [includes eyel...",2021
1,210057639590,AIS 2005,210602.0,1.0,Face - Skin/subcutaneous/muscle - laceration -...,6.0,210602.0,1.0,"Skin/subcutaneous/muscle, face, [includes eyel...",2021
2,210057639590,AIS 2005,210602.0,1.0,"Skin/subcutaneous/muscle, face, [includes eyel...",6.0,210602.0,1.0,"Skin/subcutaneous/muscle, face, [includes eyel...",2021
3,210057639590,AIS 2005,251404.0,1.0,"Teeth, Fracture",2.0,251404.0,1.0,"Teeth, fracture",2021
4,210057639590,AIS 2005,251404.0,1.0,Teeth - fracture,2.0,251404.0,1.0,"Teeth, fracture",2021

### Hospital events

In [54]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
events = puf_2021["PUF_HOSPITALEVENTS"]
events_bikes = events[events["INC_KEY"].isin(inc_keys)]
events_bikes["Year"] = 2021
stat_printer(events_bikes)

# Optional export to CSV
#events_bikes.to_csv(cwd+"/TQP_Files/events/2021_events.csv", index=False)

Shape: (633490, 5)
Unique INC KEYS: 28795

,INC_KEY,HOSPITALEVENT,HOSPITALEVENTANSWER,HOSPITALEVENTANSWER_BIU,Year
4862,210057639590,4,2.0,NaN,2021
4863,210057639590,5,2.0,NaN,2021
4864,210057639590,8,2.0,NaN,2021
4865,210057639590,12,2.0,NaN,2021
4866,210057639590,14,2.0,NaN,2021

### Diagnosis

In [55]:
# Filtering PUF_AISDIAGNOSIS for biker INC_KEYS
diag = puf_2021["PUF_ICDDIAGNOSIS"]
diag_bikes = diag[diag["INC_KEY"].isin(inc_keys)]

# Merging with ICDDIAGNOSISCODE descriptions
diag_loopup = puf_2021["PUF_ICDDIAGNOSIS_LOOKUP"]
diag_loopup = diag_loopup.drop("ICD_VERSION", axis=1)
diag_bikes = pd.merge(diag_bikes, diag_loopup, how="left", on="ICDDIAGNOSISCODE")
diag_bikes["Year"] = 2021
stat_printer(diag_bikes)

# Optional export to CSV
#diag_bikes.to_csv(cwd+"/TQP_Files/diagnosis/2021_diagnosis.csv", index=False)

Shape: (154095, 5)
Unique INC KEYS: 28795

,INC_KEY,ICDDIAGNOSISCODE,ICDDIAGNOSISVERSION,ICDDIAGNOSISCODE_DESC,Year
0,210057639590,S01.411A,ICD10,"""Laceration without foreign body of right chee...",2021
1,210057639590,S02.5XXA,ICD10,"""Fracture of tooth (traumatic), initial encoun...",2021
2,210057639590,S61.211A,ICD10,"""Laceration without foreign body of left index...",2021
3,210057639590,S62.611B,ICD10,"""Displaced fracture of proximal phalanx of lef...",2021
4,210057639590,S63.281A,ICD10,"""Dislocation of proximal interphalangeal joint...",2021

### Procedures

In [57]:
# Filtering PUF_ICDPROCEDURE for biker INC_KEYS
proced = puf_2021["PUF_ICDPROCEDURE"]
proced_bikes = proced[proced["INC_KEY"].isin(inc_keys)]

# Merging with ICDPROCEDURECODE descriptions
proced_loopup = puf_2021["PUF_ICDPROCEDURE_LOOKUP"]
proced_loopup = proced_loopup.drop("ICD_VERSION", axis=1)
proced_bikes = pd.merge(proced_bikes, proced_loopup, how="left", on="ICDPROCEDURECODE")
proced_bikes["Year"] = 2021
stat_printer(proced_bikes)

# Optional export to CSV
#proced_bikes.to_csv(cwd+"/TQP_Files/procedures/2021_procedures.csv", index=False)

Shape: (205665, 8)
Unique INC KEYS: 28795

,INC_KEY,ICDPROCEDURECODE,ICDPROCEDUREVERSION,HOSPITALPROCEDURESTARTHRS,HOSPITALPROCEDURESTARTDAYS,HOSPITALPROCEDURESTARTDH_BIU,ICDPROCEDURECODE_DESC,Year
0,210057639590,0HQ1XZZ,ICD10,3.30,1.0,NaN,"Repair Face Skin, External Approach",2021
1,210057639590,0HQGXZZ,ICD10,NaN,1.0,NaN,"Repair Left Hand Skin, External Approach",2021
2,210057639590,0RSXXZZ,ICD10,3.03,1.0,NaN,"Reposition Left Finger Phalangeal Joint, Exter...",2021
3,210057639590,2W32X3Z,ICD10,0.02,1.0,NaN,Immobilization of Neck using Brace,2021
4,210057639590,2W3KX1Z,ICD10,3.03,1.0,NaN,Immobilization of Left Finger using Splint,2021

### Preexisting Conditions

In [59]:
# Filtering PUF_HOSPITALEVENTS for biker INC_KEYS
pre = puf_2021["PUF_PREEXISTINGCONDITIONS"]
pre_bikes = pre[pre["INC_KEY"].isin(inc_keys)]
pre_bikes["Year"] = 2021
stat_printer(pre_bikes)

# Optional export to CSV
#pre_bikes.to_csv(cwd+"/TQP_Files/preexisting/2021_preexisting_conditions.csv", index=False)

Shape: (748620, 5)
Unique INC KEYS: 28795

,INC_KEY,PREEXISTINGCONDITION,PREEXISTINGCONDITIONANSWER,PREEXISTINGCONDITIONANSWER_BIU,Year
5746,210057639590,2,2.0,NaN,2021
5747,210057639590,4,2.0,NaN,2021
5748,210057639590,5,2.0,NaN,2021
5749,210057639590,6,2.0,NaN,2021
5750,210057639590,7,2.0,NaN,2021